:root {
    --text_color: #3c4043;
    --link_deco_color: #3367d6;
    --primary_color: rgba(0,0,0,.87);
    --nav_link_color: #5f6368;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TYPO */
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 4rem 0 0 0;
}
h2,
h3 {
    color: var(--text_color);
    margin: 0;
    font-weight: 500;
}
p,
ol {
    font-size: .875rem;
}
a {
    text-decoration: none;
    color: var(--link_deco_color);
}
p,
li {
    line-height: 1.5rem;
    padding-top: 1.25rem;
}
p {
    margin: .625rem 0;
}
li {
    padding-left: 1rem;
    margin-left: 1rem;
}
h3 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 3.25rem 0 0 0;
}
nav {
    width: 70%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    list-style: none;
    margin: 0 2.625rem 0 0;
    padding-left: 0;
}
/*COMMONS AND CONTAINERS*/
body {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
    color: var(--primary_color);
}
/*header*/
.header_box {
    width: 100%;
    padding: 1.25rem 0.5rem 0.5rem .625rem;
    border-bottom: 1px solid rgba(151,151,151,.5);
}
.header_top {
    display: flex;
    align-items: center;
    font-size: 1.375rem;
    color: var(--nav_link_color);
}
.header_top img {
    width: 4.625rem;
}
.header_top span {
    padding-left: .375rem;
    flex-grow: 1;
}
.header_top a {
    background-color: rgb(179, 11, 179);
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    line-height: 1.875rem;
    text-align: center;
    color: #fff;
    margin-left: .625rem;
    font-size: 1.25rem;
}
.header_nav a {
    color: var(--nav_link_color);
    font-weight: 500;
    font-size: .9375rem;
    padding-bottom: .625rem
}
.header_nav a:hover {
    border-bottom: 3px solid var(--link_deco_color);
    color: var(--link_deco_color);
}
/*main*/
main {
    max-width: 62.5rem;
    margin: auto;
    padding: 0 0.5rem;
}