:root {
    --text_color: #3c4043;
    --link_deco_color: #3367d6;
    --primary_color: rgba(0,0,0,.87);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
    max-width: 75rem;
    margin: auto;
    color: var(--primary_color);
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 4rem 0 0 0;
}
h2,
h3 {
    color: var(--text_color);
    margin: 0;
    font-weight: 500;
}
p,
ol {
    font-size: .875rem;
}
a {
    text-decoration: none;
    color: var(--link_deco_color);
}
p,
li {
    line-height: 1.5rem;
    padding-top: 1.25rem;
}
p {
    margin: 10px 0;
}
li {
    padding-left: 16px;
}
h3 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 3.25rem 0 0 0;
}